.container-fluid{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.cont main{
    flex-grow: 1;    
}
/* start utility class */


/* end utility class */

/* container aside laterale */
.row aside{
    max-height: calc( 100vh - 60px);
    background-color:black;
}

/* container footer */
.cont footer{
    background-color: gray;
    height: 60px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    z-index: 1002;
}

/* container section */
.row section{
    height: calc(100vh - 60px);
    background-color: rgb(17, 58, 92);
    overflow-y: scroll;
}
.box-1{
    background-color: rgb(42, 42, 42);
    height: 70px;
    width: 100%;  
    position: fixed;  
    z-index: 1001;

}
.box-2{
    height: 50px;
    margin: 80px auto 0px; 
    display: flex;
    justify-content: center; 
}

/* top bar */
.box-1 button{
    background-color: transparent;
    font-size: 15px;
    padding: 10px 30px;
    border: 1px white solid;
    border-radius: 20px;
    color: white;
    margin: 15px 15px;
    position: fixed;  
    z-index: 1001;
    right: 0;
}
/* nav bar section */

.box-2> ul li{
    font-size: 15px;
    list-style: none;
    display: inline-block;
    padding: 10px; 
}
/* start album */

.row-album{
    justify-content: flex-start

}
.album{
    width: calc((100% / 6)- 10px);
    margin-left: 5px;
    flex-wrap: nowrap;
}
/* start aside section */
aside{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
}
.logo {
    height: 35px;
    margin: 15px;
}
.aside-list> h3, .aside-list> ul{
    padding: 15px;
    list-style: none;
    line-height: 25px;
    
}
.aside-list ul li{
    display: flex;
    font-size: 15px;
    margin-top: 5px;
}
.aside-list img{
    height: 25px;
}
.aside-list span{  
    padding-left: 3px;
}
.aside-bottom{
    padding: 10px;
    line-height: 30px;
}
.aside-list ul li i{
    font-size: 30px;
    padding-right: 3px;
    color: gray;
}